{% extends 'core/base.html' %} {% block menu%} {%include 'core/menu.html'%} {% endblock%} {% block content %}
<H1>Créer un ticket</H1>
<form action="{% url 'create_ticket'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=" form-group " style="flex-direction: column;">
        <label for="titre " class="control-label "> Titre</label> {{ ticket_form.ticket }}
        <label for="description " class="control-label ">Description</label> {{ ticket_form.description }}
        <label for="image " class="control-label ">Image  </label> {{ ticket_form.image }}
    </div>
    <button type="submit " class="style-button ">Envoyer</button>
</form>
{% endblock%}