{%load static%}

<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Page de LitReview</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'core/css/monstyle.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <header>
        <div>
            LITREVIEW
        </div>
    </header>

    <!-- Masthead-->
    <section class="fond-ecran">

        {% block content %} {% endblock %}

    </section>

    <footer class="footer">
        <div class="list-inline-item"><a href="#!">About</a> </div>
        <div class="list-inline-item"><a href="#!">Contact</a></div>
        <div class="list-inline-item"><a href="#!">Terms of Use</a></div>
        <div class="list-inline-item"><a href="#!">Privacy Policy</a></div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-facebook fs-3"></i></a>
                </li>
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-twitter fs-3"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#!"><i class="bi-instagram fs-3"></i></a>
                </li>
            </ul>
        </div>
        </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'core/js/scripts.js' %}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="{% static 'https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>