{% extends 'core/base.html' %} {% block menu%} {%include 'core/menu.html'%} {% endblock%} {% block content %}
<div class="container">
    <div class="row">
        <div class="box">
            <div id="menu" style="display: flex; 
            flex-direction: row; 
            justify-content: space-around;">
                <div id="ticket" class="item-menu">
                    <a href="/ticket"> Demander une critique </a>
                </div>
                <div id="critique" class="item-menu">
                    <a href="/critique "> Créer une critique </a>
                </div>
            </div>
        </div>
        {% include 'core/flux.html' %} {% endblock%}