<div class="container">
    <div class="row">
        <div class="box">
            <H3>Bonjour {{request.user}}, </H3>
            <div id="menu" style="display: flex; 
            flex-direction: row; 
            justify-content: right;">
                <div id="flux" class="item-menu">
                    <a href="/home"> Flux </a>
                </div>
                <div id="post" class="item-menu">
                    <a href="/posts"> Post</a>
                </div>
                <div id="userfollows" class="item-menu">
                    <a href="/userfollows/ ">Abonnement</a>
                </div>
                <div id="deconnexion " class="item-menu">
                    <a href="/logout"> Deconnexion </a>
                </div>
            </div>
        </div>
    </div>