<div class="container">
    <div class="row">
        <div class="box">
            <div id="menu" style="display: flex; 
            flex-direction: row; 
            justify-content: right;">
                <div id="flux" style="border: 2px solid rgb(172, 172, 214); border-radius: .5em; padding: 10px;">
                    <a href="/flux"> Flux </a>
                </div>
                <div id="post" style="border: 2px solid rgb(172, 172, 214); border-radius: .5em; padding: 10px; ">
                    <a href="/post "> Post</a>
                </div>
                <div id="userfollows" style="border: 2px solid rgb(172, 172, 214); border-radius: .5em; padding: 10px; ">
                    <a href="/userfollows/ ">Abonnement</a>
                </div>
                <div id="deconnexion " style="border: 2px solid rgb(172, 172, 214); border-radius: .5em; padding: 10px; ">
                    <a href="/deconnexion "> Deconnexion </a>
                </div>
            </div>
        </div>
    </div>