{% extends 'core/base.html' %} {% block menu%} {%include 'core/menu.html'%} {% endblock%} {% block content %}
<H1>Modifier une critique</H1>
<div class=" form-group" style="flex-direction: column; ">
    <label>Vous êtes en train de poster en réponse à </label>
    <div class=" form-group" style="flex-direction: column; ">
        <p style="font-style: italic;">
            <div style="float: right;">le {{ticket_form.time_created}} </div>
        </p>
        <div style="font-weight: bold; font-size: x-large;">
            {{ticket_form.ticket}}
        </div>
        <p>
            {{ticket_form.description}}
        </p>
        <div>
            <img src="/media/{{ticket_form.image}}" class="img-responsive" style="width: 50%; height:80%;" />
        </div>

    </div>
</div>
<form action="{% url 'review:update_review' id_review id_post %}" method="post">
    {% csrf_token %}
    <div class=" form-group " style="flex-direction: column;">
        <label>Critique : </label>
        <label for="titre " class="control-label "> Titre</label> {{ review_form.headline }}
        <br>
        <label for="note " class="control-label ">Note : 
        <span class="fa fa-star fa-2x " id="first"></span>
        <span class="fa fa-star fa-2x " id="second"></span>
        <span class="fa fa-star fa-2x " id="third"></span>
        <span class="fa fa-star fa-2x" id="fourth"></span>
        <span class="fa fa-star fa-2x" id="fifth"></span>
        </label>
        <div id="confirm_box"></div>
        <br>
        <label for="commentaire" class="control-label ">commentaire  </label> {{ review_form.body}}
    </div>

    <button type="submit " class="style-button ">Envoyer</button>
</form>
{% endblock%}